<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CSUSM Case Study A.I.</title>
    <link rel="stylesheet" href="../static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
    <!-- Add in your <head> -->
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap" rel="stylesheet">

    
</head>
<body>
    <div class="dots-loader">
        <div></div>
        <div></div>
        <div></div>
    </div>

    <div class="button-row">
        <button class="custom-btn" data-id="1">1</button>
        <button class="custom-btn" data-id="2">2</button>
        <button class="custom-btn" data-id="3">3</button>
        <button class="custom-btn" data-id="4">4</button>
        <button class="custom-btn" data-id="5">5</button>
        <button class="custom-btn" data-id="6">6</button>
      </div>
      
      

    <div class="back-arrow">←</div>

    <div id="case-header"></div>

    <div id="case-header"></div>
    <div id="case-subtitle"></div> <!-- New subtitle element -->
    <div id="case-description"></div>
    <div id="case-objective"></div>
    <div id="case-duration"></div>
    <div id="case-taught-by"></div>
    <div id="case-format"></div>
    <div id="case-completion"></div>
    <div id="case-question-overview"></div>
    <div id="case-key-topics"></div>
    <div id="case-questions"></div>
    <div id="case-prerequisite"></div>
    <div id="case-pdf"></div>

    <button id="begin-case-btn">Begin Case Study</button>



      
    <script src="../static/script.js"></script>
</body>
</html>
